<div class="container">
	<h1>Meryem Ana Kilisesi</h1>
	<ul class="list-group">
		<li class="list-group-item">
			<img src="assets/img/places/meryemana/meryem_ana_1.jpg" width="500" height="600">
		</li>
		<li class="list-group-item">
			<img src="assets/img/places/meryemana/meryem_ana_2.jpg" width="500" height="600">
		</li>
		<li class="list-group-item">
			<img src="assets/img/places/meryemana/meryem_ana_3.jpg" width="500" height="600">
		</li>
		<li class="list-group-item">
			<img src="assets/img/places/meryemana/meryem_ana_4.jpg" width="500" height="600">
		</li>
	</ul>
</div>