<div class="container">
	<h1>Best Museums</h1>
	<ul class="list-group">
		<li class="list-group-item">
			<ul class="list-group">
				<h2>Ahmed Arif Museum</h2>
				<li class="list-group-item">
					<img src="assets/img/bestof/museum/ahmet_arif_muzesi_1.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					The museum is a literary museum and archive dedicated to Turkish literature and named after the poet Ahmet Arif(1927–1991).
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/museum/ahmed-arif_2.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					Located in Diyarbakır, Turkey, the museum was established by the Ministry of Culture and Tourism and opened on June 1, 2011. The museum is housed in a historical house of typical-Diyarbakır architecture called the Hacı Halid Konağı, which is more than 120 years old.
				</li>
			</ul>
		</li>
		<li class="list-group-item">
			<h2>Cahit Tarancı Museum</h2>

			<ul class="list-group">
				<li class="list-group-item">
					<img src="assets/img/bestof/museum/taranci_1.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					The museum is a historic house and museum dedicated to Cahit Sıtkı Tarancı in Diyarbakır, Turkey.The museum is located in the historic Sur district of Diyarbakır, close to the Grand Mosque.
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/museum/taranci_2.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					The museum building was the house where Cahit Sıtkı Tarancı (1910–1956), a well known poet, was born in. The building was constructed in 1733. It is a two-story house. The construction material is basalt stone. The building is composed of four symmetrical sections around a square courtyard. These parts are traditional living quarters in different seasons; north in summer, east in spring, south in winter and west in autumn. There are 14 rooms in the building. Cahit Sıtkı Tarancı was born in the biggest room, so called "başoda" (literally: main room), in the summer section. The 152 exhibited items are the personal belongings of Cahit Sıtkı Tarancı and his family members.
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/museum/taranci_3.jpg" height="400" width="400">
				</li>
			</ul>

		</li>
		<li class="list-group-item">
			<h2>Ziya Gökalp Museum</h2>
			<ul class="list-group">
				<li class="list-group-item">
					<img src="assets/img/bestof/museum/gokalp_1.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					The museum is a house museum dedicated to Ziya Gökalp in Diyarbakır, Turkey.The museum is located in the historic Sur district of Diyarbakır. Ziya Gökalp (1876–1924) was one of the most important intellectuals and spokesmen of the Turkish nationalist movement. The museum building is the house, where he was born and grew up in.
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/museum/gokalp_2.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					The building was constructed in 1808. In 1953, the house was bought by the Ministry of Culture, and it was opened as a house museum on 23 March 1956. The building has a ground floor and an upper floor. The basalt-stone house is composed of three sections around a courtyard. Unlike other Diyarbakır historical houses, the house pool is placed in the iwan rather than in the courtyard.
				</li>
			</ul>
		</li>
	</ul>
</div>