<div class="container">
	<h1>Best Hotels</h1>
	<ul class="list-group">
		<li class="list-group-item">
			<ul class="list-group">
				<h2>Büyük Kervansaray Hotel</h2>
				<li class="list-group-item">
					<img src="assets/img/bestof/otel/kervansaray_1.jpg" height="400" width="400">
				</li>

				<li class="list-group-item">
					Close to some of Diyarbakir's most popular landmarks, such as Deliller Hani (0.6 km) and Safa Mosque (0.6 km), Hotel Büyük Kervansaray is a great destination for tourists.
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/otel/kervansaray_2.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					Hotel Buyuk Kervansaray Hotel is a small hotel with air conditioning in the rooms. Connecting to the internet is also easy with the free internet available to guests.
				</li>

				<li class="list-group-item">
					<img src="assets/img/bestof/otel/kervansaray_3.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					Guests can also enjoy the pool and restaurant facilities. Thanks to this, the property is among the favorites of travelers traveling to Diyarbakir.<br>
					Diyarbakir is also home to the Diyarbakir Walls, Iskender Pasha Mansion and Gazi Mansion, which are famous historical places. Hotel Büyük Kervansaray is considered close to these places.
				</li>
			</ul>
		</li>
		<li class="list-group-item">
			<h2>Radisson Blu</h2>

			<ul class="list-group">
				<li class="list-group-item">
					<img src="assets/img/bestof/otel/radison_1.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					Welcome to the stylish Radisson Blu Hotel, Diyarbakir, located in the city's new business district. The hotel has easy access to main roads and is only 10 minutes from Diyarbakir Airport. Our Diyarbakir hotel also has a car park.
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/otel/radison_2.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/otel/radison_3.jpg" height="400" width="400">
				</li>
			</ul>

		</li>
		<li class="list-group-item">
			<h2>Novatel Hotel</h2>
			<ul class="list-group">
				<li class="list-group-item">
					<img src="assets/img/bestof/otel/nova_1.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					Located near the D885 highway, next to a shopping mall, this cozy hotel is 8 km from Diyarbakir Great Mosque and 9 km from Diyarbakir Castle, whose walls date back to the 4th century.
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/otel/nova_2.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					The spacious rooms feature a flat-screen TV, mini fridge and seating area. Room service is offered.
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/otel/nova_3.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					Parking is free. Other facilities include a gym, cozy restaurant, bar, 4 meeting rooms and sauna.
				</li>
			</ul>
		</li>
	</ul>
</div>