<div class="container">
	<h1>Best Food</h1>
	<ul class="list-group">
		<li class="list-group-item">
			<ul class="list-group">
				<h2>Onur Ocakbaşı</h2>
				<li class="list-group-item">
					<img src="assets/img/bestof/yemek/onur_1.jpg" height="400" width="400">
				</li>

				<li class="list-group-item">
					It is a business established by Hacı Vahit GÜNAYDIN in 1964. It offers all the authentic tastes of Diyarbakir kebab cuisine in a fireside style and with high quality service standards. Kebabs are made entirely by hand, and meat and offal are kneaded in harmony with the flavors of the past to create rich menus with unique salad varieties.
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/yemek/onur_2.jpg" height="400" width="400">
				</li>
			</ul>
		</li>
		<li class="list-group-item">
			<h2>Diyarbakır Lahmacun Merkezi</h2>
			<ul class="list-group">
				<li class="list-group-item">
					<img src="assets/img/bestof/yemek/lahmacun_1.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					You can only eat lahmacun and pita in this restaurant, located in the Sipahi Bazaar next to the Ulu Mosque. They are lahmacun with very thin dough.
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/yemek/lahmacun_2.jpg" height="400" width="400">
				</li>
			</ul>

		</li>
		<li class="list-group-item">
			<h2>Fırın-ci </h2>
			<ul class="list-group">
				<li class="list-group-item">
					<img src="assets/img/bestof/yemek/firinci_1.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					Fırın-ci has set out to experience traditional flavors in a unique presentation and quality environment, and to bring all the culinary experience to the tables. Don't be afraid to eat real meat, make Baker's recipes your habit.
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/yemek/firinci_2.jpg" height="400" width="400">
				</li>
			</ul>
		</li>
	</ul>
</div>