<div class="container">

	<ul class="list-group">
		<li class="list-group-item">
			<div class="row" routerLink="ongozlu_kopru">
				<div class="col-md-6">
					<img src="assets/img/places/ongozlu/ongozlu_1.jpg" width="200" height="200">
				</div>
				<div class="col-md-6 item-title">
					<h3>Ongözlü Köprü</h3>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row" routerLink="gazi_kosku">
				<div class="col-md-6 item-title">
					<h3>Gazi Köşkü</h3>
				</div>
				<div class="col-md-6">
					<img src="assets/img/places/gazikosku/gazi_kosku_1.jpg" width="200" height="200">
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row" routerLink="benu_sen_burcu">
				<div class="col-md-6">
					<img src="assets/img/places/benusen/benusen_1.jpg" width="200" height="200">
				</div>
				<div class="col-md-6 item-title">
					<h3>Ben-u Sen Burcu</h3>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row" routerLink="hevsel_bahcesi">
				<div class="col-md-6 item-title">
					<h3>Hevsel Bahçesi</h3>
				</div>
				<div class="col-md-6">
					<img src="assets/img/places/hevsel/hevsel_bahçeleri_1.jpg" width="200" height="200">
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row" routerLink="meryem_ana_kilisesi">
				<div class="col-md-6">
					<img src="assets/img/places/meryemana/meryem_ana_1.jpg" width="200" height="200">
				</div>
				<div class="col-md-6 item-title">
					<h3>Meryem Ana Kilisesi</h3>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row" routerLink="dort_ayakli_minare" width="200" height="200">
				<div class="col-md-6 item-title">
					<h3>Dört Ayaklı Minare</h3>
				</div>
				<div class="col-md-6">
					<img src="assets/img/places/dortayakli/dort_ayakli_minare_1.jpg" width="200" height="200">
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row" routerLink="surlar">
				<div class="col-md-6">
					<img src="assets/img/places/surlar/diyarbakir-surlari_1.jpg" width="200" height="200">
				</div>
				<div class="col-md-6 item-title">
					<h3>Surlar</h3>
				</div>
			</div>
		</li>
	</ul>
</div>