<div class="container">
	<h1>Best Cafes</h1>
	<ul class="list-group">
		<li class="list-group-item">
			<ul class="list-group">
				<h2>Sülüklü Han</h2>
				<li class="list-group-item">
					<img src="assets/img/bestof/cafe/suluklu_1.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					It is a historical inn located in Sur, one of the central districts of Diyarbakır. Built by Hanilioğlu Mahmut Çelebi and his sister Atike Hatun in 1683, the inn is made of black basalt stone. Sülüklü Han took its name from the leeches extracted from the well in the courtyard for treatment purposes. The ground floor of the inn, which was a three-storey building with eighteen rooms on each floor, was used as a barn, but today it is a single storey. Sülüklü Han, where the upper floors are used as resting quarters and the lower floors as barns, was used as the headquarters of the cavalry units during the Turkish War of Independence. Today it is operated as a cafeteria.
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/cafe/suluklu_2.jpg" width="400" height="400">
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/cafe/suluklu_3.jpg" width="400" height="400">
				</li>
			</ul>
		</li>
		<li class="list-group-item">
			<h2>Müze Cafe</h2>

			<ul class="list-group">
				<li class="list-group-item">
					<img src="assets/img/bestof/cafe/muze_1.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					The museum cafe is a very nice place. You are enchanted while sipping your coffee with the music playing. Prices are normal. All types of coffee were very good to us. Service is also pretty fast.
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/cafe/muze_2.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/cafe/muze_3.jpg" height="400" width="400">
				</li>
			</ul>

		</li>
		<li class="list-group-item">
			<h2>Diyarbakır Evi Cafe</h2>
			<ul class="list-group">
				<li class="list-group-item">
					<img src="assets/img/bestof/cafe/evi_1.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					The fact that it is close to the four-legged minaret and the Chaldean and Armenian churches makes the photo taken from its terrace very meaningful: There is a friendly business in the place where religions meet.
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/cafe/evi_2.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/cafe/evi_3.jpg" height="400" width="400">
				</li>
			</ul>
		</li>
	</ul>
</div>