<div class="container">
	<h1>Best Desserts</h1>
	<ul class="list-group">
		<li class="list-group-item">
			<ul class="list-group">
				<h2>Sıtkı Usta</h2>
				<li class="list-group-item">
					<img src="assets/img/bestof/tatlici/sitki_1.jpg" height="400" width="400">
				</li>

				<li class="list-group-item">
					The famous Sıtkı Usta Kadayif and Kunefe, which has been appealing to the taste of our valued customers since 1968, has been appealing to your taste buds for 50 years without sacrificing both hygiene and quality during the production phase and we share our first day's service excitement with you… The famous Sıtkı Usta Kadayif and Kunefe are in the production phase By following the technology closely and increasing its product range day by day, it continues to be a source of trust for our valued customers.
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/tatlici/sitki_2.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/tatlici/sitki_3.jpg" height="400" width="400">
				</li>
			</ul>
		</li>
		<li class="list-group-item">
			<h2>Künefeci Sadık Usta </h2>

			<ul class="list-group">
				<li class="list-group-item">
					<img src="assets/img/bestof/tatlici/sadik_1.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					Kadayif has a unique place in Turkey. When you think of Burmese kadayif, Diyarbakir comes to mind. This profession, which was learned at first hand from Armenian masters years ago, has spread among the people of Bingöl and has been brought to the present day.
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/tatlici/sadik_2.jpg" height="400" width="400">
				</li>
			</ul>

		</li>
		<li class="list-group-item">
			<h2>Saim Usta</h2>
			<ul class="list-group">
				<li class="list-group-item">
					<img src="assets/img/bestof/tatlici/saim_1.jpg" height="400" width="400">
				</li>
				<li class="list-group-item">
					All materials and raw materials used for production are inspected and put into use. No additives that may adversely affect human health are used in its products, and meticulous attention is paid to personnel and production area hygiene.
				</li>
				<li class="list-group-item">
					<img src="assets/img/bestof/tatlici/saim_2.jpg" height="400" width="400">
				</li>
			</ul>
		</li>
	</ul>
</div>