<div class="container">
	<h1>Surlar</h1>
	<ul class="list-group">
		<li class="list-group-item">
			<img src="assets/img/places/surlar/diyarbakir-surlari_1.jpg" width="500" height="600">
		</li>
		<li class="list-group-item">
			<img src="assets/img/places/surlar/surlar.jpg" width="500" height="600">
		</li>
		<li class="list-group-item">
			<img src="assets/img/places/surlar/surlar_2.jpg" width="500" height="600">
		</li>
		<li class="list-group-item">
			<img src="assets/img/places/surlar/surlar_3.jpg" width="500" height="600">
		</li>
	</ul>
</div>