<div class="container">
	<ul class="list-group">
		<li class="list-group-item">
			<div class="row" routerLink="food">
				<div class="col-md-6">
					<img src="assets/img/bestof/image/yemek_ana_ekran.jpg" width="200" height="200">
				</div>
				<div class="col-md-6 item-title">
					<h3>Best Food in Diyarbakır</h3>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row" routerLink="dessert-stores">
				<div class="col-md-6 item-title">
					<h3>Best Dessert Stores in Diyarbakır</h3>
				</div>
				<div class="col-md-6">
					<img src="assets/img/bestof/image/tatlici_ana_ekran.jpg" width="200" height="200">
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row" routerLink="cafes">
				<div class="col-md-6">
					<img src="assets/img/bestof/image/cafe_ana_ekran.jpg" width="200" height="200">
				</div>
				<div class="col-md-6 item-title">
					<h3>Best Cafés in Diyarbakır</h3>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row" routerLink="museums">
				<div class="col-md-6 item-title">
					<h3>Best Museums in Diyarbakır</h3>
				</div>
				<div class="col-md-6">
					<img src="assets/img/bestof/image/muze_4.jpg" width="200" height="200">
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row" routerLink="hotels">
				<div class="col-md-6">
					<img src="assets/img/bestof/image/otel_ana_ekran.jpg" width="200" height="200">
				</div>
				<div class="col-md-6 item-title">
					<h3>Best Hotels in Diyarbakır</h3>
				</div>
			</div>
		</li>
	</ul>
</div>